<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>

  </head>
  <body>
      <div class="container" ng-controller="LunchCheckerController">
          <h1>Lunch Checker</h1>

          <!--take input from input feild and put it into lunch-->
          <div class="form-group">
              <input id="lunch-menu" type="text"
                     placeholder="list comma separated dishes you usually have for lunch"
                     class="form-control"
                     ng-model="lunch">
          </div>

          <!--calls the check function to check how much is in the lunch array and determine the
        message based on how many items are in the array-->
          <div class="form-group">
              <button class="btn btn-default" ng-click="CheckLunch()">Check If Too Much</button>
          </div>

          <!--display proper message-->
          <div class="form-group message">
              {{message}}
          </div>
      </div>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
  </body>
</html>
